html,
body,
ul,
pre,
ol {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

section {
  padding: 0 15px; }
  section > h3 {
    font-family: 'Quicksand', sans-serif; }
  section > p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; }
    section > p strong {
      font-weight: 400; }
    section > p code {
      background: #eee;
      display: inline-block;
      border-radius: 3px;
      padding: 1px 2px;
      font-weight: 500; }
  section > div {
    display: flex;
    justify-content: space-between; }
    section > div > * {
      flex-basis: 48%;
      padding: 25px; }
    section > div div {
      background: #ddecf4; }
    section > div pre {
      background: #282C34;
      color: #eee; }
      section > div pre span.selector {
        color: #bd3f45; }
      section > div pre span.value {
        color: #c88b5b; }
      section > div pre span.attr {
        color: #6cb93e; }

button[name="btn"] {
  padding: 15px 25px;
  border-radius: 4px;
  border: 2px solid #333;
  font-size: 1.2em;
  color: #333;
  background: #eee;
  transition: all 150ms ease-in; }
  button[name="btn"]:hover {
    background: #333;
    color: #eee; }

/*# sourceMappingURL=style.css.map */
