@import 'reset';
@import 'dev-mixins';

$dark-color: #333;
$light-color: #eee;

section {
  padding: 0 15px;

  & > h3 {
    font-family: 'Quicksand', sans-serif;
  }

  & > p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    strong {
      font-weight: 400;
    }

    code {
      background: $light-color;
      display: inline-block;
      border-radius: 3px;
      padding: 1px 2px;
      font-weight: 500;
    }
  }

  & > div {
    display: flex;
    justify-content: space-between;

    & > * {
      flex-basis: 48%;
      padding: 25px;
    }

    div {
      background: #ddecf4;
    }

    pre {
      background: #282C34;
      color: $light-color;

      span.selector {
        color: #bd3f45;
      }

      span.value {
        color: #c88b5b;
      }

      span.attr {
        color: #6cb93e;
      }
    }
  }
}

button[name="btn"] {
  padding: 15px 25px;
  border-radius: 4px;
  border: 2px solid $dark-color;
  font-size: 1.2em;
  color: $dark-color;
  background: $light-color;
  transition: all 150ms ease-in;

  &:hover {
    background: $dark-color;
    color: $light-color;
  }
}
